<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      
      <span class="navbar-brand"><a class="navbar-brand" routerLink="/home">Sked</a> | {{username}}</span>

      @if (router.url == "/signup") {
        <a class="nav-link" routerLink="/login">Login</a>
      } @else if (router.url === '/login') {
        <a class="nav-link" routerLink="/signup">Sign Up</a>
      } @else {
        <button class="btn btn-link" (click)="logout()">Logout</button>
      }
    </div>
  </nav>
