<div class="date-nav-container">
  <div class="current-date" (click)="toggleCollapse()">
    <span>{{ selectedDate | date: 'fullDate' }}</span>
  </div>

  <div class="date-selector" [class.collapsed]="isCollapsed">
      
    <div class="navigation-wrapper d-flex justify-content-center align-items-center">
      <button class="btn btn-link " (click)="prevYear()">&laquo;</button>
      <div class="navigation d-flex" #yearNav>
        <span class="btn btn-link btn-sm text-dark" *ngFor="let year of displayedYears" [class.selected]="year === selectedYear" (click)="selectYear(year)">
          {{ year }}
        </span>
      </div>
      <button class="btn btn-link " (click)="nextYear()">&raquo;</button>
    </div>

    <!-- Month Navigation -->
    <div class="navigation-wrapper d-flex justify-content-center align-items-center">
      <button class="btn btn-link " (click)="prevMonth()">&laquo;</button>
      <div class="navigation d-flex" #monthNav>
        <span class="btn btn-link btn-sm text-dark" *ngFor="let month of displayedMonths" [class.selected]="month.value === selectedMonth" (click)="selectMonth(month.value)">
          {{ month.name }}
        </span>
      </div>
      <button class="btn btn-link " (click)="nextMonth()">&raquo;</button>
    </div>

  
      

    <!-- Day Navigation -->
    <div class="navigation-wrapper d-flex justify-content-center align-items-center">
      <button class="btn btn-link " (click)="prevWeek()">&laquo;&laquo;</button>
      <button class="btn btn-link " (click)="prevDay()">&lt;</button>
      <div class="navigation d-flex" #dayNav>
        <span class="btn btn-sm btn-link text-dark" *ngFor="let day of displayedDays" [class.selected]="day.date === selectedDate.getDate()" (click)="selectDay(day.date)">
          {{ day.date }} {{ day.day }}
        </span>
      </div>
      <button class="btn btn-link " (click)="nextDay()">&gt;</button>
      <button class="btn btn-link " (click)="nextWeek()">&raquo;&raquo;</button>
    </div>
  </div>
</div>
