<div class="card">
    <div class="card-header">
        {{eventData.name}}
    </div>
    <div class="card-body">
        @if(eventData.allday) {
            <h5 class="card-title">{{eventData.category}}</h5>
            <p class="card-text">{{eventData.description}}</p>
        } @else {
            <div class="row">
                <div class="col-7">
                    <h5 class="card-title">{{eventData.category}}</h5>
                    <p class="card-text">{{eventData.description}}</p>
                </div>
                <div class="col-5">
                    <p class="card-text">start: {{eventData.start | dateTimeFormat }}</p>
                    <p class="card-text">end: {{eventData.end | dateTimeFormat }}</p>
                </div>
            </div>
        }
        
        <a href="#" class="btn btn-primary me-2" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Edit</a>
        <button class="btn btn-primary">Delete</button>
        <div class="collapse" id="collapseExample">
            <div class=" container mb-3 mt-3 border-none">
                <hr>
                <form [formGroup]="eventForm" >
                    <div id="collapseCardBody" class="collapse d-lg-block">
                        <div class="row">
                        
                            <div class="mb-3 col-lg-6">
                                <label for="eventname" class="form-label">Event Name</label>
                                <input type="text" class="form-control" id="eventname" formControlName = "eventname">
                            </div>
                            <div class="mb-3 col-lg-6">
                                <label for="category" class="form-label">Category</label>
                                <select class="form-select form-control" id="category" formControlName = "category">
                                  <option selected>Select a category</option>
                                  <option value="1">One</option>
                                  <option value="2">Two</option>
                                  <option value="3">Other</option>
                                </select>
                              </div>
                            
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" formControlName = "description" rows="2"></textarea>
                            </div>
        
                            <div class="mb-3">
                                <div class="form-check">
                                    <label for="allday" class="form-check-label">All Day</label>
                                    <input type="checkbox" class="form-check-input" id="allday" formControlName = "allday">
                                </div>
                            </div>
        
                            <div class="mb-3 col-3">
                              <label for="startdate" class="form-label">Start Date</label>
                              <input type="date" class="form-control" id="startdate" formControlName = "startdate">
                            </div>
        
                            <div class="mb-3 col-3">
                                <label for="starttime" class="form-label">Start Time</label>
                                <input type="time" class="form-control" id="starttime" formControlName = "starttime">
                            </div>
        
                            <div class="mb-3 col-3">
                                <label for="enddate" class="form-label">Start Date</label>
                                <input type="date" class="form-control" id="enddate" formControlName = "enddate">
                            </div>
        
                            <div class="mb-3 col-3">
                                <label for="endtime" class="form-label">End Time</label>
                                <input type="time" class="form-control" id="endtime" formControlName = "endtime">
                            </div>
        
                            <div class="mb-3">
                                <label for="repeat" class="form-label">Repeat</label>
                                <div class="form-control" id ="repeat" [formGroup]="repeatFormGroup">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="monday" formControlName="mon">
                                        <label class="form-check-label" for="monday">Mo</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="tuesday" formControlName="tue">
                                        <label class="form-check-label" for="tuesday">Tu</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="wednesday" formControlName="wed">
                                        <label class="form-check-label" for="wednesday">We</label>
                                    </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="thursday" formControlName="thu">
                                        <label class="form-check-label" for="thursday">Th</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="friday" formControlName="fri">
                                        <label class="form-check-label" for="friday">Fr</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="saturday" formControlName="sat">
                                        <label class="form-check-label" for="saturday">Sa</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="sunday" formControlName="sun">
                                        <label class="form-check-label" for="sunday">Su</label>
                                      </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                              
        
                            
                    </div>
                    </div>
                    
             
                </form>
                
              </div>
         </div>
    </div>
  </div>
