<div class="card">
    <div class="card-header  d-flex justify-content-between align-items-center">
        
        <div class="card-title mb-0">{{eventData.name}}</div>
        <div>
            <a href="#" class="btn me-2" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16" style="fill: blue;">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
              </svg>
            </a>
            <button type="button" class="btn me-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16" style="fill: red;">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                  </svg>
            </button>
        </div>
          
    </div>


    <div class="card-body">
        @if(eventData.allday) {
            <h5 class="card-title">{{eventData.category}}</h5>
            <p class="card-text">{{eventData.description}}</p>
        } @else {
            <div class="row">
                <div class="col-7">
                    <h5 class="card-title">{{eventData.category}}</h5>
                    <p class="card-text">{{eventData.description}}</p>
                </div>
                <div class="col-5">
                    <p class="card-text">start: {{eventData.start | dateTimeFormat }}</p>
                    <p class="card-text">end: {{eventData.end | dateTimeFormat }}</p>
                </div>
            </div>
        }
        
        
        
        <div class="collapse" id="collapseExample">
            <div class=" container mb-3 mt-3 border-none">
                <hr>
                <form [formGroup]="eventForm" >
                    <div id="collapseCardBody" class="collapse d-lg-block">
                        <div class="row">
                        

                            <div class="mb-2 col-lg-6">
                                <label for="eventname" class="form-label small">Event Name</label>
                                <input type="text" class="form-control" id="eventname" formControlName = "eventname"
                                [class.is-valid]="!eventForm.get('eventname')?.errors && (eventForm.get('eventname')?.touched || eventForm.get('eventname')?.dirty)"
                                [class.is-invalid]="eventForm.get('eventname')?.errors && (eventForm.get('eventname')?.touched || eventForm.get('eventname')?.dirty)">
                                <div *ngIf="eventForm.get('eventname')?.errors && (eventForm.get('eventname')?.touched || eventForm.get('eventname')?.dirty)" class="form-text text-danger">
                                  <div *ngIf="eventForm.get('eventname')?.hasError('required')">*Event Name is required.</div>
                              </div>
                            </div>


                              <div class="mb-2 col-lg-6">
                                    <label for="category" class="form-label small">Category</label>                    
                                    <ng-select [items]="categories" bindLabel="name" bindValue="value" placeholder="Select a category" formControlName="category" [addTag]="true" >
                                </ng-select>
                            
                              </div>
                            
                            <div class="mb-2">
                                <label for="description" class="form-label small">Description</label>
                                <textarea class="form-control" id="description" formControlName = "description" rows="2" [class.is-valid]="eventForm.get('description')?.touched || eventForm.get('description')?.dirty"></textarea>
                            </div>

                            <div class="mb-3">
                                <div class="form-check">
                                    <label for="allday" class="form-check-label small">All Day</label>
                                    <input type="checkbox" class="form-check-input" id="allday" formControlName = "allday">
                                </div>
                            </div>

                            <div class="mb-3 col-3">
                                <label for="startdate" class="form-label small" >Start Date</label>
                                <input type="date" class="form-control form-control-sm" id="startdate" formControlName = "startdate"
                                [class.is-valid]="!eventForm.get('startdate')?.errors && (eventForm.get('startdate')?.touched || eventForm.get('startdate')?.dirty)"
                                [class.is-invalid]="eventForm.get('startdate')?.errors && (eventForm.get('startdate')?.touched || eventForm.get('startdate')?.dirty)">
                                <div *ngIf="eventForm.get('startdate')?.errors && (eventForm.get('startdate')?.touched || eventForm.get('startdate')?.dirty)" class="form-text text-danger">
                                  <div *ngIf="eventForm.get('startdate')?.hasError('required')">*Start Date is required.</div>
                                </div>
                              </div>


                            <div class="mb-3 col-3" *ngIf="eventForm.get('allday')?.value == false">
                              
                                <label for="starttime" class="form-label small">Start Time</label>
                                <input type="time" class="form-control form-control-sm" id="starttime" formControlName = "starttime"
                                [class.is-valid]="!eventForm.hasError('startTimeRequired') && (eventForm.get('starttime')?.touched || eventForm.get('starttime')?.dirty)"
                                [class.is-invalid]="eventForm.hasError('startTimeRequired') && (eventForm.get('starttime')?.touched || eventForm.get('starttime')?.dirty)">
                                <div *ngIf="eventForm.hasError('startTimeRequired') && (eventForm.get('starttime')?.touched || eventForm.get('starttime')?.dirty)" class="form-text text-danger">
                                  <div *ngIf="eventForm.hasError('startTimeRequired')">*Start Time is required.</div>
                                </div>
                            </div>

                              <div class="mb-3 col-3">
                                <label for="enddate" class="form-label small">End Date</label>
                                <input type="date" class="form-control form-control-sm" id="enddate" formControlName = "enddate"
                                [class.is-valid]="!eventForm.get('enddate')?.errors && (eventForm.get('enddate')?.touched || eventForm.get('enddate')?.dirty)"
                                [class.is-invalid]="eventForm.get('enddate')?.errors && (eventForm.get('enddate')?.touched || eventForm.get('enddate')?.dirty)">
                                <div *ngIf="eventForm.get('enddate')?.errors && (eventForm.get('enddate')?.touched || eventForm.get('enddate')?.dirty)" class="form-text text-danger">
                                  <div *ngIf="eventForm.get('enddate')?.hasError('required')">*End Date is required.</div>
                                </div>
                            </div>

        
                            <div class="mb-3 col-3" *ngIf="eventForm.get('allday')?.value == false">
                                <label for="endtime" class="form-label small">End Time</label>
                                <input type="time" class="form-control form-control-sm" id="endtime" formControlName = "endtime"
                                [class.is-valid]="!eventForm.hasError('endTimeRequired') && (eventForm.get('endtime')?.touched || eventForm.get('endtime')?.dirty)"
                                [class.is-invalid]="eventForm.hasError('endTimeRequired') && (eventForm.get('endtime')?.touched || eventForm.get('endtime')?.dirty)">
                                <div *ngIf="eventForm.hasError('endTimeRequired') && (eventForm.get('endtime')?.touched || eventForm.get('endtime')?.dirty)" class="form-text text-danger">
                                  <div *ngIf="eventForm.hasError('endTimeRequired')">*Start Time is required.</div>
                                </div>
                            </div>
        
                            <div class="mb-3">
                                <label for="repeat" class="form-label">Repeat</label>
                                <div class="form-control" id ="repeat" [formGroup]="repeatFormGroup">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="monday" formControlName="mon">
                                        <label class="form-check-label small" for="monday">Mo</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="tuesday" formControlName="tue">
                                        <label class="form-check-label small" for="tuesday">Tu</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="wednesday" formControlName="wed">
                                        <label class="form-check-label small" for="wednesday">We</label>
                                    </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="thursday" formControlName="thu">
                                        <label class="form-check-label small" for="thursday">Th</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="friday" formControlName="fri">
                                        <label class="form-check-label small" for="friday">Fr</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="saturday" formControlName="sat">
                                        <label class="form-check-label small" for="saturday">Sa</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="sunday" formControlName="sun">
                                        <label class="form-check-label small" for="sunday">Su</label>
                                      </div>
                                </div>
                            </div>

                            @if (isRepeat) {
                                <div class="mb-3">
                                  <div class="row g-3">
                                    <label for="repeat" class="form-label col-3 small">Repeat Ends</label>
                                    <div class="form-check form-switch col-3">
                                      <input class="form-check-input" type="checkbox" role="switch" id="repeatNever" formControlName="repeatNever">
                                      <label class="form-check-label small" for="repeatNever">Never</label>
                                    </div>
                                    @if (!eventForm.get('repeatNever')?.value) {
                                            <div class="col-3">
                                              <label for="repeatEndDate" class="form-label small">Repeat End Date</label>
                                            </div>
                                            <div class="col-3">
                                              <input type="date" class="form-control col-3 form-control-sm" id="repeatEndDate" formControlName="repeatEndDate"
                                              [class.is-valid]="!eventForm.hasError('repeatEndDateRequired') && (eventForm.get('repeatEndDate')?.touched || eventForm.get('repeatEndDate')?.dirty)"
                                              [class.is-invalid]="eventForm.hasError('repeatEndDateRequired') && (eventForm.get('repeatEndDate')?.touched || eventForm.get('repeatEndDate')?.dirty)">
                                              <div *ngIf="eventForm.hasError('repeatEndDateRequired') && (eventForm.get('repeatEndDate')?.touched || eventForm.get('repeatEndDate')?.dirty)" class="form-text text-danger">
                                                <div *ngIf="eventForm.hasError('repeatEndDateRequired')">*Start Time is required.</div>
                                              </div>
                                            </div>
                                      }
                                  </div>
                                </div>
                              }
    
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
       
                    </div>
                    </div>
                    
             
                </form>
                
              </div>
         </div>
    </div>
  </div>
